<div id="randomBeer"  class="card">
    {{> beerpartial rb}}
        <ul>
            {{#each rb.food_pairing }}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <h3>Food Pairing</h3>
        <h4>{{rb.brewers_tips}}</h4>
    </div>
</div>